/* Set the entire body as draggable using the '-webkit-app-region: drag' property.
The -webkit-app-region property blocks all other input so any child elements which
require inputs need to set '-webkit-app-region: no-drag' property */

ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

#search-results {
    width: 95%;
    z-index: 1000;
    padding-left: 1px;
    padding-right: 1px;
    margin-top: -14px;
    padding-left: 5%;
}

#search-results.open ul {
    padding: 10px;
}

#search-results.card {
    margin-bottom: 0;
}

.search-results-card-inner {
    padding: 0;
}

.result {
    color: #000;
    padding: 5px 20px;
    display: block;
    cursor: pointer;
    background-color: white;
}

.result:hover {
    background-color: #ececec;
}

.result.active {
    background-color: #bebebe;
}

.result .title {
    margin-left: 50px;
}

#search {
    width: 100%;
    height: 40px;
    font-size: 16px;
    padding-left: 35px;
    background-color: #f5f5f5;
    color: #212121;
    -webkit-transition: all .5s;
    /* Safari */
    transition: all .5s;
}

#search:focus {
    background-color: #FFF;
}

.search-box i {
    top: 17px;
    position: absolute;
    padding-left: 15px;
    color: #212121;
}

.searchResult-description {
    font-size: 13px;
}

.searchResult-projectName {
    font-size: 15px;
}

.task {
    margin-top: 5px;
    border: 1px solid #cecece;
    background-color: #f3f3f3;
}

.taskHeader {
    font-size: 15px;
    background-color: #da3232;
    color: #ffffff;
    height: 25px;
    padding-top: 2px;
}

.hours {
    margin-top: 10px;
}

.comment {
    width: 100%;
    margin-top: 10px;
}

.activity {
    margin-top: 10px;
}

.datePicker {
    /* padding-left: 25%; */
}

.datePicker input {
    height: 24px;
    width: 130px;
    border-bottom-style: 1px solid #000;
}

.date-picker-container #datepicker-adv-1 {
    color: #000 !important;
    border-color: #000;
    cursor: pointer !important;
}

.date-picker-help {
    font-size: 16px;
    padding-right: 5px;
    padding-top: 3px;
}

.date-picker-container {
    padding-left: 0;
}

.row.datePicker {
    padding-top: 15px;
}

.picker__button--clear {
    /* We really dont need this button :P */
    display: none;
}


/* ---------- awads styles -------------*/

.logo-img {
    padding: 3px 0 0 5px;
    -webkit-app-region: no-drag;
    /* Isurus Hacks ;) */
}

.btn-lazy {
    background-color: #EA5E5D;
    color: #fff;
}

.btn-lazy, .btn-lazy:active, .btn-lazy:focus, .btn-lazy:hover {
    color: #fff;
}

.navbar.navbar, .navbar-default.navbar {
    background: #EA5E5D;
}

.list-item-title {
    font-weight: bold;
    margin-bottom: 2px;
    width: 85%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list-item-tracker {
    display: inline-block;
    color: #222;
    margin-bottom: -5px;
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list-item-tracker b {
    color: #607D8B;
}

.tracker-name {
    color: #3F51B5;
}

.list-item-task-id {
    color: #666;
}

.tile-wrap {
    overflow-x: hidden;
    /*hide horizontal scroll*/
    overflow-y: auto;
}

.tile-collapse.active {
    margin-right: 0;
    margin-left: 0;
}

.search-row {
    margin-right: -40px;
    margin-left: -40px;
}

.bottom-button-group {
    left: 3px;
    right: 3px;
}

.tile-action {
    border: none;
}

.nav {
    margin: 0;
}

.nav .dropdown-menu {
    top: 20px;
}

.modal-dialog-about {
    margin-right: auto;
    margin-left: auto;
    padding: 60px 16px;
    width: 400px;
    color: #777;
}

.modal-dialog-about .version {
    margin-top: -15px;
}

.modal-dialog-about p {
    font-size: 11px;
}

.modal-dialog-about a {
    color: #2196f3;
    cursor: pointer;
}

.cloudy {
    -webkit-animation: cloudy 5s ease-in-out infinite;
    background: #FFF;
    border-radius: 50%;
    height: 80px;
    margin-top: 10px;
}

        .cloudy:after {
            -webkit-animation: cloudy_shadow 5s ease-in-out infinite;
            animation: cloudy_shadow 5s ease-in-out infinite;
            background: #000000;
            border-radius: 50%;
            content: '';
            height: 15px;
            width: 120px;
            opacity: 0.2;
            position: absolute;
            left: 5px;
            bottom: -20px;
            -webkit-transform: scale(.7);
            transform: scale(.7);
        }

@-webkit-keyframes cloudy {
    50% {
        -webkit-transform: translateY(-20px);
    }
}

@-webkit-keyframes cloudy_shadow {
    50% {  -webkit-transform: translateY(20px) scale(1); transform: translateY(20px) scale(1); opacity:.05; }
}

.help-text {
    font-size: 16px;
    color: #bbb;
    padding-top: 50px;
}

.lazy-tooltip {
    top: -654px;
    left: 223.703125px;
    display: block;
    position: relative;
}

/* ---------- awads styles end -------------*/


/*---Overriding Toast styles with custom classes---*/

.lazy-toast {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 21;
}

.lazy-toast a {
    color: #b2dbfb;
    cursor: pointer;
}

.lazy-toast a:focus, .lazy-toast a:hover {
    color: #6ab8f7;
    text-decoration: none;
}

.lazy-toast .tooltip {
    position: static !important;
}

@media only screen and (min-width: 768px) {
    .lazy-toast {
        margin-right: 80px;
        right: auto;
        bottom: 24px;
        left: 16px !important;
    }
}

.lazy-toast-inner {
    background-color: #212121;
    color: #ffffff;
    font-size: 14px;
    padding: 12px 16px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
    -webkit-transform: translate3d(0, 200%, 0);
    -ms-transform: translate3d(0, 200%, 0);
    transform: translate3d(0, 200%, 0);
    -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
}

.lazy-toast-inner:after, .lazy-toast-inner:before {
    content: "";
    display: table;
    line-height: 0;
}

.lazy-toast-inner:after {
    clear: both;
}

.lazy-toast-show .lazy-toast-inner {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

@media only screen and (min-width: 768px) {
    .lazy-toast-inner {
        border-radius: 2px;
        float: left;
    }
}

.no-csstransforms3d .lazy-toast-inner {
    opacity: 0;
    filter: alpha(opacity=0);
}

.no-csstransforms3d .lazy-toast-show .lazy-toast-inner {
    opacity: 1;
    filter: alpha(opacity=100);
}

.lazy-toast-text {
    overflow: hidden;
}

[data-dismiss="lazy-toast"] {
    cursor: pointer;
    float: right;
    font-weight: 700;
    margin-left: 16px;
    text-transform: uppercase;
}


/*---Overriding Toast styles with custom classes---*/

.task-icon {
    font-size: 14px;
}

.walkthrough-icon {
    font-size: 30px;
    padding-top: 25px;
    color: #EA5E5D;
}

.walkthrough {
    position: absolute;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    top: -260px;
    opacity: 0;
    display: none;
    -webkit-animation: none;
}

.walkthrough-hover {
    -webkit-animation: fadein 1s;
    opacity: 1;
    display: block;
}

.walkthrough-hoverout {
    -webkit-animation: fadeout 1s;
    display: none;
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.picker__holder {
    overflow: hidden;
}

.search-menu {
    margin-top: -10px;
}

.date-picker-container input, .date-picker-container {
    display: inline;
}

.date-picker-help span {
    padding-right: 5px;
}

.menu-container {
    padding-left: 0;
}


/* custom styles for card */

.card-inner {
    margin: 24px 16px;
    position: relative;
}

.card-heading {
    margin-bottom: 20px;
    margin-top: 10px;
}

.card-heading, .card-img-heading {
    line-height: 0;
    font-size: 18px;
}

/*fix scrolling */
.overlay.hide .overlay_black {
    display: none;
}

.container {
    margin-top: 35px;
    overflow-x: auto;
}

.container-inner {
    margin-top: 0;
}

/* increase menu size */
a.menu-icon{
    font-size: 22px;
    padding-right: 0;
}