html{
  -webkit-app-region: drag;
}

body{
  font-size: 15px;
}

/* Reset
==================== */
ul,li{
  padding: 0;
  margin: 0;
  list-style: none;
}

#search-results{
    background: white;
    position: absolute;
    width: 100%;
    z-index : 1000;
}

#search-results.open ul {
  padding: 10px;
}

.result {
  color: #000000;
  padding: 10px 20px;
  display: block;
}

.result:hover {
  background-color: #ececec;
}

.result.active {
  background-color: #ececec;
}

.result .title{
  margin-left: 50px;
}

#search {
  width: 100%;
  height: 40px;
  font-size: 20px;
  padding: 10px;
  border: 1px solid #cecece;
  margin-top: 10px;
}

.description{
  font-size: 13px;
}

.task{
  margin-top: 5px;
  border: 1px solid #cecece;
}

.taskHeader{
  font-size: 14px;
  background-color: #da3232;
}
